.input {
  appearance: none;
  box-sizing: border-box;
  padding: .6rem;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  border: 2px solid #E5E5E5;
  border-radius: .6rem;
  background: none;
  transition: border 0.25s ease-in-out;
}

.input:focus {
  outline: none;
  border: 2px solid #495867;
}